                        * {
                            margin: 0px;
                            padding: 0;
                        }
                        
                        nav a {
                            text-decoration: none;
                        }
                        
                        a:hover {
                            text-decoration: none;
                        }
                        
                        body {
                            background-image: url(img/capa2\ \(2\).jpeg);
                            background-attachment: fixed;
                            background-size: 100%;
                            background-repeat: no-repeat;
                            background-color: #ffffff;
                        }
                        
                        nav#menu ul {
                            list-style: none;
                            text-align: center;
                            background-color: rgba(87, 87, 87, 0.774);
                        }
                        
                        nav#menu li {
                            font-family: 'ariel';
                            color: rgb(255, 255, 255);
                            font-size: 20px;
                            display: inline;
                            margin: 15px;
                            padding: 5px 10px;
                        }
                        
                        nav#menu li:hover {
                            background-color: rgb(33, 128, 134);
                        }
                        
                        header#cabecalho {
                            font-family: 'ARIEL';
                            color: rgb(80, 75, 75);
                            font-size: 60px;
                        }
                        
                        .caixa {
                            background-color: rgb(33, 128, 134);
                        }
                        
                        h1 {
                            color: rgb(255, 255, 255);
                            font-family: 'Arial';
                            transition: all 5s linear;
                            text-align: center;
                            font-size: 40px;
                        }
                        
                        h4 {
                            color: rgb(255, 255, 255);
                            font-family: 'Arial';
                            text-align: center;
                        }
                        
                        div.texto {
                            height: 10em;
                            position: relative;
                        }
                        
                        div.texto h1 {
                            margin: 0;
                            position: absolute;
                            top: 120%;
                            left: 30%;
                        }
                        
                        .blocos {
                            width: 100%;
                        }
                        
                        @media only screen and (min-width: 769px) {
                            .videos {
                                float: left;
                                width: 300px;
                                height: 300px;
                                margin-left: 8%;
                                margin-top: 3%;
                                margin-bottom: 20px;
                                background: #ffffff;
                            }
                        }
                        
                        iframe {
                            width: 300px;
                            height: 300px;
                            border-color: rgb(33, 128, 134);
                            border-width: 10px;
                        }